body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(WebBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: gray;
}

button{
    background-color:deepskyblue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}